USE [master]
GO
/****** Object:  Database [BD_CuentaClara]    Script Date: 17/7/2026 04:07:39 ******/
CREATE DATABASE [BD_CuentaClara]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_CuentaClara', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BD_CuentaClara.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_CuentaClara_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BD_CuentaClara_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_CuentaClara].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_CuentaClara]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 17/7/2026 04:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Criticidad] [int] NULL,
	[Evento] [nvarchar](50) NULL,
	[Fecha] [date] NULL,
	[idEvento] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Modulo] [nvarchar](50) NULL,
	[Hora] [time](0) NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[idEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DigitoVerificador]    Script Date: 17/7/2026 04:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificador](
	[Nombre] [nvarchar](255) NULL,
	[DVV] [nvarchar](255) NULL,
	[DVH] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia]    Script Date: 17/7/2026 04:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[IdFamilia] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Familia] PRIMARY KEY CLUSTERED 
(
	[IdFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia_Familia]    Script Date: 17/7/2026 04:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_Familia](
	[IdFamilia_Familia] [nvarchar](50) NOT NULL,
	[IdFamiliaPadre] [nvarchar](50) NULL,
	[IdFamiliaHija] [nvarchar](50) NULL,
 CONSTRAINT [PK_Familia_Familia] PRIMARY KEY CLUSTERED 
(
	[IdFamilia_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia_Permiso]    Script Date: 17/7/2026 04:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_Permiso](
	[IdFamilia_Permiso] [nvarchar](50) NOT NULL,
	[IdFamilia] [nvarchar](50) NULL,
	[IdPermiso] [nvarchar](50) NULL,
 CONSTRAINT [PK_Familia_Permiso] PRIMARY KEY CLUSTERED 
(
	[IdFamilia_Permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia_Rol]    Script Date: 17/7/2026 04:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_Rol](
	[IdFamilia_Rol] [nvarchar](50) NOT NULL,
	[IdRol] [nvarchar](50) NULL,
	[IdFamilia] [nvarchar](50) NULL,
 CONSTRAINT [PK_Familia_Rol] PRIMARY KEY CLUSTERED 
(
	[IdFamilia_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 17/7/2026 04:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[Id_Idioma] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[Id_Idioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 17/7/2026 04:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[IdPermiso] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 17/7/2026 04:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol_Permiso]    Script Date: 17/7/2026 04:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol_Permiso](
	[IdRol_Permiso] [nvarchar](50) NOT NULL,
	[IdRol] [nvarchar](50) NOT NULL,
	[IdPermiso] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Rol_Permiso] PRIMARY KEY CLUSTERED 
(
	[IdRol_Permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 17/7/2026 04:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Nombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[DNI] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NULL,
	[Bloqueo] [int] NULL,
	[Activo] [int] NULL,
	[IdRol] [nvarchar](50) NULL,
	[Id_Idioma] [nvarchar](50) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Bitacora] ([Criticidad], [Evento], [Fecha], [idEvento], [Login], [Modulo], [Hora]) VALUES (3, N'Acceso de emergencia por violación de integridad', CAST(N'2026-07-06' AS Date), N'0008c038-9acf-4c48-9724-cb5dd49478b1', N'Prueba123', N'Seguridad', CAST(N'01:04:28' AS Time))
INSERT [dbo].[Bitacora] ([Criticidad], [Evento], [Fecha], [idEvento], [Login], [Modulo], [Hora]) VALUES (1, N'Login correcto', CAST(N'2026-06-25' AS Date), N'001a704f-5fa5-49c7-80b5-fe9f4cabf5a7', N'Val_123', N'Seguridad', CAST(N'23:02:38' AS Time))
INSERT [dbo].[Bitacora] ([Criticidad], [Evento], [Fecha], [idEvento], [Login], [Modulo], [Hora]) VALUES (3, N'Cambio de Idioma en Sesión', CAST(N'2026-07-17' AS Date), N'001bbc48-8ff6-4e71-b1e7-e802ba90a8c6', N'riki12345678', N'Administración', CAST(N'01:16:50' AS Time))
GO
INSERT [dbo].[DigitoVerificador] ([Nombre], [DVV], [DVH]) VALUES (N'Rol_R1', NULL, N'ae8067f51f4f13791d0bb898df19f6abda9f53544c82ed33f54c6ba160795105')
INSERT [dbo].[DigitoVerificador] ([Nombre], [DVV], [DVH]) VALUES (N'Rol_R2', NULL, N'433fba0fb628dc2d704f8d2c0785fc863ef4335ba2c363ce9d2e07bb761edf9a')
INSERT [dbo].[DigitoVerificador] ([Nombre], [DVV], [DVH]) VALUES (N'Rol_R3', NULL, N'c0d955160c7997bc91d51da46171f0ec6f53daa4de940e5b398e55a08e558080')
GO
INSERT [dbo].[Familia] ([IdFamilia], [Nombre]) VALUES (N'4340a0c7-c62c-4820-91c4-c57b1c528218', N'Gestion_Negocio')
INSERT [dbo].[Familia] ([IdFamilia], [Nombre]) VALUES (N'F1', N'Gestion_Rol')
INSERT [dbo].[Familia] ([IdFamilia], [Nombre]) VALUES (N'F2', N'Gestion_Usuario')
GO
INSERT [dbo].[Familia_Familia] ([IdFamilia_Familia], [IdFamiliaPadre], [IdFamiliaHija]) VALUES (N'4f2216e1-cc22-48d9-8253-a18557eacb1f', N'83fc97c5-40f4-4848-86d2-64642cb1591b', N'F3')
INSERT [dbo].[Familia_Familia] ([IdFamilia_Familia], [IdFamiliaPadre], [IdFamiliaHija]) VALUES (N'9cf13ed0-8cc2-46b6-8426-35869a6bb82d', N'237aea5a-8c72-47b3-95d8-31ce32a55b25', N'F2')
GO
INSERT [dbo].[Familia_Permiso] ([IdFamilia_Permiso], [IdFamilia], [IdPermiso]) VALUES (N'0456bb52-3b99-4a97-9290-3f0d873f1e2d', N'281db4cc-9bdd-4594-8fa0-5f01622d0d03', N'P17')
INSERT [dbo].[Familia_Permiso] ([IdFamilia_Permiso], [IdFamilia], [IdPermiso]) VALUES (N'07dc89ba-3481-4724-b992-f1e48f9c4fbf', N'281db4cc-9bdd-4594-8fa0-5f01622d0d03', N'P20')
INSERT [dbo].[Familia_Permiso] ([IdFamilia_Permiso], [IdFamilia], [IdPermiso]) VALUES (N'094e2b05-a088-43c6-8338-32a666b8787e', N'4340a0c7-c62c-4820-91c4-c57b1c528218', N'P21')
GO
INSERT [dbo].[Familia_Rol] ([IdFamilia_Rol], [IdRol], [IdFamilia]) VALUES (N'1903a4d0-c467-4b02-bc3b-17f50e1ef16c', N'R3', N'4340a0c7-c62c-4820-91c4-c57b1c528218')
INSERT [dbo].[Familia_Rol] ([IdFamilia_Rol], [IdRol], [IdFamilia]) VALUES (N'1f54529d-cc20-421c-bc08-f86cbe6e51e1', N'46f1c6bf-db68-492d-8729-b7e6b9290495', N'F4')
INSERT [dbo].[Familia_Rol] ([IdFamilia_Rol], [IdRol], [IdFamilia]) VALUES (N'41e41a61-72a0-46f3-9981-8ab24d090823', N'R2', N'6dca4803-6429-4471-afc1-44c4d0c6a0ad')
GO
INSERT [dbo].[Idioma] ([Id_Idioma], [Nombre]) VALUES (N'1', N'Español')
INSERT [dbo].[Idioma] ([Id_Idioma], [Nombre]) VALUES (N'2', N'English')
GO
INSERT [dbo].[Permiso] ([IdPermiso], [Nombre]) VALUES (N'P1', N'Usuario_Alta')
INSERT [dbo].[Permiso] ([IdPermiso], [Nombre]) VALUES (N'P10', N'Rol_Eliminar')
INSERT [dbo].[Permiso] ([IdPermiso], [Nombre]) VALUES (N'P11', N'Rol_AsignarFamilia')
GO
INSERT [dbo].[Rol] ([IdRol], [Nombre]) VALUES (N'R1', N'Administrador')
INSERT [dbo].[Rol] ([IdRol], [Nombre]) VALUES (N'R2', N'Usuario_Operativo')
INSERT [dbo].[Rol] ([IdRol], [Nombre]) VALUES (N'R3', N'Aportante_Familiar')
GO
USE [master]
GO
